<!DOCTYPE html>
<html class="h-100">
    <head>
        <title><%= page.title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
    </head>
    <body class="h-100">
        
        <%- include("partial/navbar.ejs", { ADD_ENDPOINT: endpoints.ADD_ENDPOINT }) %>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form action="/" method="GET" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="filter[]" value="OPENED" id="r_OPENED"
                                    <% if (filters.indexOf("OPENED") != -1) { %>
                                        checked
                                    <% } %>
                                >
                                <label class="form-check-label" for="r_OPENED">Opened</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="filter[]" value="INPROGRESS" id="r_INPROGRESS"
                                    <% if (filters.indexOf("INPROGRESS") != -1) { %>
                                        checked
                                    <% } %>
                                >
                                <label class="form-check-label" for="r_INPROGRESS">In progress</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="filter[]" value="CLOSED" id="r_CLOSED"
                                    <% if (filters.indexOf("CLOSED") != -1) { %>
                                        checked
                                    <% } %>
                                >
                                <label class="form-check-label" for="r_CLOSED">Closed</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Filter">
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <div class="col-3">
                        <div class="card my-3 bg-light">
                            <div class="card-header">Task</div>
                            <div class="card-body">
                                <h6 class="card-subtitle">
                                    Status: <%= tasks[i].task_status.text %>
                                </h6>
                                
                                <h6 class="card-subtitle my-2 <%= tasks[i].deadline ? 'text-danger' : '' %>">
                                    End at: <%= tasks[i].estimated_end_at %>
                                </h6>
                                
                                <p class="card-text my-3"><%= tasks[i].task_text %></p>
                                
                                <a 
                                    href="<%= endpoints.EDIT_ENDPOINT %>&task_id=<%= tasks[i].task_id %>" 
                                    class="btn btn-primary mr-1"
                                >
                                    Edit
                                </a>
                                
                                <% if (tasks[i].file_id) { %>
                                    <a 
                                        href="/download?file_id=<%= tasks[i].file_id %>" 
                                        class="btn btn-info ml-1"
                                    >
                                        Attachment
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <% if (tasks.length < 1) { %>
            <div class="d-flex justify-content-center align-items-center h-100">
                <h3>Nothing to show</h3>
            </div>
        <% } %>
    </body>
</html>