<!DOCTYPE html>
<html>
    <head>
        <title>Task Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
    </head>
    <body>
        <%- include("partial/navbar.ejs") %>
        <div class="container-fluid">
            <div class="row">
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <div class="col-3">
                        <div class="card my-3">
                            <div class="card-body">
                                <p class="card-text">
                                    <%= tasks[i].task_text %>
                                </p>
                                <div>
                                    <%= tasks[i].task_status %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <!--<table>
            <thead>
                <th scope="col">
                    Task
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">

                </th>
            </thead>
            <tbody>
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <tr>
                        <td>
                            <%= tasks[i].task_text %>
                        </td>
                        <td>
                            <%= tasks[i].task_status %>
                        </td> 
                        <td>
                            <a href="/edit?id=<%= tasks[i].task_id %>">
                                Edit
                            </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>-->
    </body>
</html>