<!DOCTYPE html>
<html>
    <head>
        <title><%= page.title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
    </head>
    <body>
        
        <%- include("partial/navbar.ejs", { ADD_ENDPOINT: endpoints.ADD_ENDPOINT }) %>

        <% task = tasks[0]; %>

        <form method="POST" action="<%= page.formAction %>" enctype="multipart/form-data">

            <label for="task">Task:</label>
            <textarea id="task" maxlength="250" name="task_text"><%= task.task_text %></textarea>
            
            <br>
            <label for="r_OPENED">Opened</label>
            <input type="radio" name="task_status" value="OPENED" id="r_OPENED"
                <% if (task.task_status.value == "OPENED") { %>
                    checked
                <% } %>
            >

            <br>
            <label for="r_INPROGRESS">In progress</label>
            <input type="radio" name="task_status" value="INPROGRESS" id="r_INPROGRESS"
                <% if (task.task_status.value == "INPROGRESS") { %>
                    checked
                <% } %>
            >
            
            <br>
            <label for="r_CLOSED">Closed</label>
            <input type="radio" name="task_status" value="CLOSED" id="r_CLOSED"
                <% if (task.task_status.value == "CLOSED") { %>
                    checked
                <% } %>
            >

            <br>
            <label for="estimated_end_at">Estimated end</label>
            <input type="text" name="estimated_end_at" value="<%= task.estimated_end_at %>" id="estimated_end_at">
            
            <br>
            <label for="att_file">Attachment:</label>
            <input type="file" name="att_file" id="att_file">

            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>